= @a
%p#notice
	= notice

%p
	%b
		= @post.title
		(
		= link_to 'Edit', edit_post_path(@post)
		)
%p
	= @post.body
.post_comments 
	Please leave your comment 

	= form_for([@post, Comment.new], :remote => true) do |f|
		.field
			= f.text_area :body, :cols => 80, :rows => 3
		.actions
			= f.submit

	#comments
		- @post.comments.reverse.each do |comment|
			.comment{:style => "margin-left:#{rand(0..2)*2}em"}
				= comment.user.username
				(
				= comment.created_at.to_time
				)
				%br
					= comment.body
			

				